body {
    background: aqua;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

.silver-bg {
    background: silver;
    display: inline-block;
    width: 100%;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.right {
    text-align: right;
}
